.navbar {
  /* Celeste */
  background: #27B3D2;
}

.nav-link {
  color: #292B41;
}

.nav-item {
  font-size: 20px;
}

.bg-color {
  background-color: #27B3D2;
  height: 116px;
}

.bg-categoria {
  background-color: #abe1f1;
}

/* .container-fluid {
  color: #27B3D2 !important;
  margin-right: 180px;
} */

.logo-eduni {
  padding-left: 116px;
}

.logo-uni {
  position: absolute;
  left: 42%;
}

.login-menu {
  position: absolute;
  left: 75%;
  right: 0%;
}

.footer-creditos {
  position: absolute;
  left: 8%;
  right: 0%;
}

.login {
  color: #292B41;
}

.navbar2 {
  /* Rectangle 1 */
  position: absolute;
  padding-left: 116px;
  left: 0%;
  right: 0%;
}

.cuenta {
  padding-top: 6%;
}

.color {
  /* Celeste */
  color: #FFFFFF;
  /* Inicia sesión */
  left: 74.38%;
  right: 17.43%;
  font-weight: 500;
  line-height: 24px;
}

.color-menu {
  /* Celeste */
  color: #27B3D2;
  /* Inter Bold 24 */
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 610;
  font-size: 22px;
  padding-top: 28px;
}

.color-enlace-login {
  color: #27B3D2;
  text-decoration: none;
  font-weight: 610;
}

.posicion {
  padding-block-start: 100px;
  padding-left: 10px;
  justify-content: center;
}

.tamaño {
  height: 620px;
}

.parrafo {
  /* Adquiere las mejores ofertas y novedades de las publicaciones que realiza la editorial de la UNI sobre ingeniería, arquitectura, matemática, estadística, química, literatura, ciencias sociales y más. */
  width: 530px;
  height: 145px;
  position: absolute;
  top: 35%;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  color: #000000;

}

.new_link {
  line-height: 10pt;
  /* separacion entre lineas */
  text-indent: 30pt;
  /* para sangrias */
  padding-top: 4%;
  line-height: 2px;

  /* Celeste */
  color: #27B3D2;
}

.footer-content {
  padding-top: 30px;
  background: #27B3D2;
  height: 340px;
}

.text-reset {
  /* Light 20 */
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #FFFFFF;
}

.suscribete {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.btn-confirmar {
  background: #27B3D2;
  color: white;
}

.btn-buscar {
  background: white;
  color: #27B3D2;
  font-weight: 500;
  border: #27B3D2;
}

.thumbnail {
  position: relative;
}

.largo {
  display: flex;
  width: 500px;
  padding-top: 20px;
}

.box-list {
  padding-top: 15px;
}

.item {
  color: #292B41;
  /* Inter Bold 24 */
  font-family: 'Helvetica';
  padding-bottom: 10px;
  font-size: 20px;
  text-decoration: none;
  padding-left: 8px;
}

.tamaño-list {
  width: 220px;
  margin-block: 2px;
}

.tamaño-buscador {
  width: 500px;
}

.bgcabecera {
  background: #27B3D2;
  color: white;
  font-size: 24px;
}

.bgfila {
  background: #E5EDFD;
  color: black;
  font-size: 20px;
}

.letra {
  font-family: 'Helvetica';
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  /* src: local(''),
    url('../fonts/Montserrat-Regular.ttf') format('ttf'); */
}

.nota {
  color: #292B41;
  font-size: 24px;
}

.bgtitulo {
  background: #27B3D2;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 87px;
  width: 717px;
  height: 179px;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

/* Para descuentos del 35% - Color rojo*/
.bgdescuento {
  background: #e02020;
  color: white;
  display: flex;
  font-size: 22px;
  width: 80px;
  height: 52px;
  padding: 6px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* Para descuentos del 25%, 30% - Color naranja*/
.bgdescuento2 {
  background: #e06d20;
  color: white;
  display: flex;
  font-size: 22px;
  width: 80px;
  height: 52px;
  padding: 6px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.card .img-wrapper {
  max-width: 100%;
  height: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-height: 100%;
}

.bgtitulo_celeste {
  background: white;
  color: #27B3D2;
  display: flex;
  font-size: 40px;
}

.hr {
  height: 100;
  width: 100;
}


.parrafo {
  margin-top: 2rem;
  font-size: 24px;
}


/* .sidebar .active {
  border-radius: 3px;
  }
   */

.sidebar {
  position: fixed;
}

.posicion-left {
  position: absolute;
  left: 42%;
}