.navbar {
  /* Celeste */
  background: #27B3D2;
  /* Rectangle 1 */
  /* height: 116px;
  position: absolute;
  left: 0%;
  right: 0%; */
  }

.bg-color {
   background-color: #27B3D2;
  height: 116px;  
}
  .container-fluid{
    color: #27B3D2 !important;
  }
  .navbar2 {
    /* Celeste */
    color: #27B3D2;
    /* Rectangle 1 */
    height: 116px;
    position: absolute;
    left: 0%;
    right: 0%;
    }
  .logo-eduni{
    padding-left: 116px;
  }
  .logo-uni{
    position: absolute;
    left: 42%;
    right: 0%;
  }

  .footer-creditos {
    position: absolute;
    left: 8%;
    right: 0%;
  }
  
  .nav-link {
    color: #FFFFFF;
    /* Inicia sesión */
  left: 74.38%;
  right: 17.43%;
  top: 32.43%;
  bottom: 55.01%;
  
  font-weight: 500;
  line-height: 24px;
  }
  
  .Titulo {
    color: #292B41;
  }
  
  .new_link{
  padding-left: 8%;
  line-height: 10pt;   /* separacion entre lineas */ 
  text-indent: 30pt;   /* para sangrias */ 
  padding-top: 2%;
  
  /* Inter Bold 24 */
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 2px;
  
  /* Celeste */
  color: #27B3D2;
  }
  
  .cuenta {
    padding-right: 5%;
  }
  
  .footer-content{
    padding-top: 30px;
    background: #27B3D2;
    height: 340px;
  }
.text-reset {
  /* Light 20 */
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #FFFFFF;
}
  
  .suscribete {
    font-weight: 300;
  font-size: 20px;
  line-height: 24px;
    color:#FFFFFF;
  }

  .btn-confirmar {
    color: white; 
    background: #27B3D2;
  }